# Arquivos de build
/build/
/app/build/
./gradle/
.gradle/
./app/bin/

# Configurações locais de IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/
.project
.settings/
.classpath

bin/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

./app/src/main/resources/

